@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Veneer";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("/fonts/veneer/Veneer.ttf") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}

html {
    scroll-behavior: smooth;
  }
  
  .centerContent {
    margin: 0 auto !important;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  
  /* ------------------------------- Scroll Bar ------------------------------- */
  /* width */
  ::-webkit-scrollbar {
    width: 3px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  /* hides scrollbar */
  .scroll-bar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* hides scrollbar */
  .scroll-bar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-primary-600;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-400;
  }

  






  
@layer components{
    .flex-row-wrapper{
        @apply flex items-center gap-x-4
    }
    .btn-primary{
      @apply w-48 bg-primary-900 py-2 text-white rounded-md flex items-center justify-center text-center
    }
    .animated-after{
      @apply after:absolute after:left-0 after:bottom-2 after:w-full after:h-2 after:rounded-xl after:bg-primary-900 after:animate-slide-left
    }
    .section-title{
      @apply font-veneer xl:text-[96px] text-primary-900 capitalize  xl:leading-[120px] lg:text-6xl lg:leading-[90px] md:text-5xl md:leading-[70px] text-4xl leading-[60px]
    }

    .pagination {
      @apply sticky bottom-0 bg-white z-50
    }
  
    /* -----------------------------button classes----------------------------- */
    .btn-primary{
      @apply bg-primary-900 disabled:bg-primary-800/50 disabled:cursor-not-allowed hover:bg-primary-800  text-white  px-2 lg:px-6  py-3 rounded-md shadow flex items-center gap-x-2 w-fit
    }

    .btn-gray-outline{
      @apply border shadow border-gray-200 text-gray-900 px-2 lg:px-12 py-3 rounded-md  flex items-center gap-x-2 
    }
    /* -----------------------------Form classes---------------------------------- */
    .form-title{
      @apply text-2xl text-primary-950
    }
    .form-label{
      @apply text-base text-primary-950  line-clamp-2 leading-4 mb-4
    }
    .form-input{
      @apply py-2 border-gray-200 border px-4
    }
    .form-group{
      @apply grid grid-cols-3 gap-y-6 gap-x-8
    }
    .chip{
      @apply bg-primary-900 text-white px-3 py-1 rounded-full text-sm
    }
}

/* Animations */
@layer utilities {
  .animate-slide-left {
    animation: slideLeft 0.5s ease-in-out;
    
  }

  @keyframes slideLeft {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
}